<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    text-decoration: underline;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    background-color: red;
    text-underline: black;
  }
</style>
<h2>Movie List</h2>

<div *ngIf="filteredMovies">
  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>imdb_id</th>
      <th>popularity</th>
      <th>budget</th>
      <th>revenue</th>
      <th>original_title</th>
      <th>cast</th>
      <th>homepage</th>
      <th>director</th>
      <th>tagline</th>
      <th>keywords</th>
      <th>overview</th>
      <th>runtime</th>
      <th>genres</th>
      <th>production_companies</th>
      <th>release_date</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>release_year</th>
      <th>budget_adj</th>
      <th>revenue_adj</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of filteredMovies">
      <td>{{ movie.id }}</td>
      <td>{{ movie.imdb_id }}</td>
      <td>{{ movie.popularity }}</td>
      <td>{{ movie.budget }}</td>
      <td>{{ movie.revenue }}</td>
      <td [title]="movie.overview" (click)="handleClick(movie)">{{ movie.original_title }}</td>
      <td>{{ movie.cast }}</td>
      <td>{{ movie.homepage }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.tagline }}</td>
      <td>{{ movie.keywords }}</td>
      <td>{{ movie.overview }}</td>
      <td>{{ movie.runtime }}</td>
      <td>{{ movie.genres }}</td>
      <td>{{ movie.production_companies }}</td>
      <td>{{ movie.release_date }}</td>
      <td>{{ movie.vote_count }}</td>
      <td>{{ movie.vote_average }}</td>
      <td>{{ movie.release_year }}</td>
      <td>{{ movie.budget_adj }}</td>
      <td>{{ movie.revenue_adj }}</td>
    </tr>
    </tbody>
  </table>
</div>


<div *ngIf="!filteredMovies">
  <p>Loading movies...</p>
</div>
